<configuration>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${log.directory}/application-%d{yyyy-MM-dd}.log.gz</FileNamePattern>
            <maxHistory>3</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%date{ISO8601} [%5level] - %logger - %message %n in %thread: %xException%n</pattern>
        </encoder>
    </appender>

    <appender name="ZEROMQ_DIRECT" class="com.timgroup.logger.ZmtpAppender">
        <host>127.0.0.1</host>
        <port>5222</port>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="com.timgroup.logger.LogstashLayout">
                <tags>${log.tags}</tags>
                <sourceVersion>${timgroup.app.version}</sourceVersion>
            </layout>
        </encoder>
    </appender>

    <appender name="ZEROMQ" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="ZEROMQ_DIRECT"/>
        <queueSize>500</queueSize>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{ISO8601} [%5level] - %logger - %message %n in %thread: %xException%n</pattern>
        </encoder>
    </appender>

    <logger name="com.timgroup.blankapp.App">
        <appender-ref ref="CONSOLE" />
    </logger>

    <root level="INFO">
        <appender-ref ref="FILE" />
        <appender-ref ref="ZEROMQ"/>
    </root>

</configuration>
