<configuration>

    <appender name="RollingFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${log.directory}/application-%d{yyyy-MM-dd}.log.gz</FileNamePattern>
            <maxHistory>3</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%date{ISO8601} [%5level] - %logger - %message %n in %thread: %xException%n</pattern>
        </encoder>
    </appender>

    <appender name="zeromq_direct" class="com.timgroup.logger.ZmtpAppender">
        <host>127.0.0.1</host>
        <port>5222</port>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="com.timgroup.logger.LogstashLayout">
                <tags>${log.tags}</tags>
                <sourceVersion>${timgroup.app.version}</sourceVersion>
            </layout>
        </encoder>
    </appender>

    <appender name="zeromq" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="zeromq_direct"/>
        <queueSize>500</queueSize>
    </appender>
 
    <root level="INFO">
        <appender-ref ref="RollingFILE" />
        <appender-ref ref="zeromq"/>
    </root>

</configuration>
